.row {
    display: flex;
    width: 70vw;
    height: 60px;
  }
  
  .row > div {
    width: 60px;
    border: 1px dotted black;
    position: relative;
  }
  
  .star-point::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
  }
  